Animelovable Instagram Automation.json
{
  "name": "Animelovable Instagram Automation",
  "nodes": [
    {
      "parameters": {
        "content": "### Automate instagram posts with Google Drive, AI Captions & Facebook Graph API Agent (Easy to Set-Up)\n(Easy to set-up)",
        "height": 100,
        "width": 492,
        "color": 4
      },
      "id": "01772f17-68f4-4aef-b3d8-03a2db077a99",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841462797759618",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "fcac2315-ef4b-4ca7-b060-03438f0d5115",
      "name": "Finally Post to Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1776,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "ZT7QXJKNaGGrLfco",
          "name": "Animelovable"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "2e013dae-e430-4da5-9ce0-9bc78cea0389",
      "name": "Post File Download in N8N (Google Drive Node)",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        352,
        208
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rkJAESTrqMKzkcBM",
          "name": "Animelovable"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Generate an engaging Instagram caption for a {{ $('Scheduling').item.json.name }}  about [Description]. The first sentence will be same as file name except the file extension, example .mp4 (dont influcde that). \n\nThe fix text after first sentence will be Follow: @animelovable (This will be the second line). This will be below 2 lines.\n\n\nThen write 3-5 relevant hashtags related to the file name, 2-3 trending hashtags related to anime.\n\nAlso #anime, #animeedits #animelovable this will be fix hashtags for every video.\n\nThe hashtags part will be below 3 lines.\n\nKeep it under 150 characters as you are skilled at writing detailed captions based on a file name. write a clear, engaging caption that helps viewers understand and appreciate the post withoutj using too many whimsical words or using too many adjectives. make it relatable and suitable for an instagram audience, encouraging people to connect with the post and respond in the comments. \n\nHere is an example how the output will look like:\nDid you watch this anime???\n\nFollow: @animelovable\n\n#anime #animeedits #animelovable (more relevant hashtags)"
            },
            {}
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "0f5a176a-6c1e-4cb6-b4d4-f3e1250b76a0",
      "name": "AI Caption generated by OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        560,
        208
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "cdL3Z3yug6pACsx8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841462797759618",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('AI Caption generated by OpenAI').item.json.choices[0].message.content }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              }
            ]
          }
        }
      },
      "id": "e9069137-fde7-4172-a594-fd866a0957ee",
      "name": "Create Container",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1360,
        208
      ],
      "typeVersion": 1,
      "notesInFlow": false,
      "credentials": {
        "facebookGraphApi": {
          "id": "ZT7QXJKNaGGrLfco",
          "name": "Animelovable"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Scheduling').item.json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        208
      ],
      "id": "a93e0a89-7ebd-464e-986e-332682766197",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rkJAESTrqMKzkcBM",
          "name": "Animelovable"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "resource_type_file": "video",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        1120,
        208
      ],
      "id": "5b97c8f1-93dd-40ca-a8d2-e93a694e7ac8",
      "name": "Upload an asset from file data",
      "credentials": {
        "cloudinaryApi": {
          "id": "sVmaCnVbqQk6Ps0l",
          "name": "Animelovable"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 8 * * *"
            },
            {
              "mode": "custom",
              "cronExpression": "0 14 * * *"
            },
            {
              "mode": "custom",
              "cronExpression": "0 20 * * *"
            },
            {
              "mode": "custom",
              "cronExpression": "0 23 * * *"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BUcagwsHt2Qygjbh6bWW2ln3vlKY1JIj",
          "mode": "list",
          "cachedResultName": "Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BUcagwsHt2Qygjbh6bWW2ln3vlKY1JIj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "712f2aa6-2aee-40f2-be6d-720f88486a5f",
      "name": "Scheduling",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        128,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rkJAESTrqMKzkcBM",
          "name": "Animelovable"
        }
      }
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        208
      ],
      "id": "fd7b9644-b3cf-4dea-bad6-80c6e856c15e",
      "name": "Wait",
      "webhookId": "261fbb16-1695-4fad-bbeb-2db9235bc0fa"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Scheduling').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1984,
        208
      ],
      "id": "7905915a-f1bc-4dc1-aba7-ec5edcbd0110",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rkJAESTrqMKzkcBM",
          "name": "Animelovable"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Caption generated by OpenAI": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post File Download in N8N (Google Drive Node)": {
      "main": [
        [
          {
            "node": "AI Caption generated by OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Container": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "Create Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduling": {
      "main": [
        [
          {
            "node": "Post File Download in N8N (Google Drive Node)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Finally Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finally Post to Instagram": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0039da9-f9da-46ed-890b-6aa12c8c29e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b652fa09ef0df5d541a0e37514186b92ba25839bae0483579d612fc12801148"
  },
  "id": "vxPW5eCTQC6FqAhn",
  "tags": []
}